<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekydroid.tripset">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Startup"></activity>
        <activity android:name=".Filter" />
        <activity android:name=".faq" />
        <activity android:name=".Settings" />
        <activity android:name=".Expense_summary" />
        <activity android:name=".Edit_Expenses" />
        <activity android:name=".Tripitinerary" />
        <activity android:name=".stats" />
        <activity android:name=".Trip_Expense_history" />
        <activity android:name=".New_Expense" />
        <activity android:name=".Trip_expand" />
        <activity android:name=".NewTrip" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.geekydroid.tripset.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>